.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.negative-user-button {
    background-color: #b70d3a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.custom-button:hover {
    background-color: #45a049;
}

.button-container {
    text-align: center;
    margin-top: 100px;
}

.background-color {
    background-color: #484749;
}

.image {
    height: 200px;
    width: 150px;
}

.center-content {
    text-align: center;

    width: 50%;

    margin: 20px auto 0;
}


